/* Variables */
/* SCSS */
nav {
  background-color: #F28F79;
  color: #EBF6FC;
  padding: 10px; }

.boton__gradiente {
  margin: 2px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #EBF6FC;
  border-radius: 10px;
  border-style: none;
  width: 200px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  background: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%); }
  .boton__gradiente:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 8px 10px 12px;
    background-position: right center; }

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F28F79;
  justify-content: space-between;
  padding: 30px 20px; }
  .header__img {
    max-width: 100%; }

.footer {
  list-style: none;
  text-align: center;
  align-items: center; }
  .footer__redes {
    display: inline-block;
    align-items: center;
    justify-content: space-between; }
  .footer__links {
    font-family: "Quicksand", sans-serif;
    color: #EBF6FC;
    text-decoration: none;
    margin: 0px 10px;
    align-items: center;
    justify-content: space-between; }

.nav-link {
  color: #EBF6FC; }

.nav-item {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  margin: 0px 10px;
  align-items: center;
  justify-content: space-between; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }
  .grilla__columnas {
    display: flex;
    padding-bottom: 20px; }

.blog {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-color: #58C5BF; }
  .blog__titulo {
    color: #58C5BF;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    text-align: center; }
  .blog__subtitulo {
    color: #58C5BF;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 20px; }
  .blog__subtitulolista {
    font-family: "Quicksand", sans-serif;
    text-align: left;
    font-size: 20px;
    list-style: none; }
  .blog__lista__entrada {
    font-family: "Quicksand", sans-serif;
    text-align: left;
    font-size: 20px;
    color: #58C5BF; }
  .blog__imagen {
    max-width: 560px;
    max-height: 315.200; }

.contenido__imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%; }

.titulo {
  color: #58C5BF;
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  text-align: center; }
  .titulo__principios {
    color: #58C5BF;
    font-family: "Quicksand", sans-serif;
    font-size: 26px;
    text-align: center; }

.descripcion {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  font-size: 20px; }
  .descripcion__sesion {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 20px; }

#imagenPrincipal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto; }

.contacto {
  margin: 12px;
  color: #58C5BF;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  border-color: #58C5BF; }
  .contacto__campos {
    color: #58C5BF;
    font-family: "Quicksand", sans-serif;
    font-weight: bold; }
  .contacto__boton {
    background: #F28F79;
    color: #EBF6FC; }

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  margin-bottom: 12px; }
  .contenedor__principios {
    padding: 1rem; }
  .contenedor__seccion {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    gap: 0.5rem;
    margin: 20px; }

.servicios {
  padding: 0.5rem; }
  .servicios__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-bottom: 12px; }

.seccionprincipal {
  margin: 20px; }

.carousel {
  width: 640px;
  height: 360px; }

.list-group-item {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 20px; }

/* MEDIA QUERIES - RESPONSIVE */
@media screen and (max-width: 768px) {
  .contenedor__seccion, .contenedor__izquierda, .contenedor__derecha {
    flex-wrap: wrap; }
  .grilla__inicio, .contenedor__servicios, .contenedor__acercade {
    display: flex;
    flex-direction: column; } }
