/* Variables */
/* SCSS */
/* ESTILOS GENERALES */
a {
  color: inherit; }

.container > .row {
  margin-bottom: 3rem; }

.texto__parrafos, .texto__parrafos--claro, .texto__parrafos--color {
  font-family: "Quicksand", sans-serif; }

.texto__parrafos--claro {
  color: #EBF6FC;
  font-size: 1.25rem; }

.texto__parrafos--color {
  color: #58C5BF;
  font-size: 1.25rem; }

.texto__cursiva, .texto__cursiva--color, .texto__cursiva--claro {
  font-family: "Dancing Script", cursive; }

.texto__cursiva--color {
  color: #58C5BF; }

.texto__cursiva--claro {
  color: #EBF6FC; }

.nav-link {
  font-family: "Quicksand", sans-serif;
  color: #F28F79; }

.boton__color {
  background-color: #F28F79;
  color: #EBF6FC;
  font-family: "Quicksand", sans-serif; }

.navbar-brand > img {
  width: 3.438rem; }

.navbar-main .active {
  text-decoration: underline wavy #F28F79;
  text-underline-offset: 0.50rem; }

.iconos__redes > a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s filter; }
  .iconos__redes > a:hover {
    filter: opacity(0.5); }

.color__facebook {
  background-color: #023693; }

.color__instagram {
  background-color: #f1066b; }

.color__twitter {
  background-color: #33a9f3; }

.header-main {
  min-height: 100vh; }

.icon-servicio {
  --box-size: 4.375rem;
  width: var(--box-size);
  height: var(--box-size);
  padding: 0.625rem; }

.tienda__items > img {
  transition: 0.4s transform; }

.tienda__items:hover > img {
  transform: scale(0.96); }

.fondo__verde {
  background-color: #58C5BF;
  filter: opacity(0.55); }

.card img {
  height: 17.5rem; }

@media screen and (max-width: 376px) {
  body {
    margin-top: 4rem; }
  .header-main {
    height: initial; }
  .photo-frame {
    font-size: 1.25rem; } }
