/* Variables */
$fuente-cursiva: 'Dancing Script', cursive;
$fuente-parrafos: 'Quicksand', sans-serif;
$paleta-color-fondos: #F28F79;
$paleta-color-titulos: #58C5BF;
$paleta-color-claro: #EBF6FC;

/* SCSS */

/* ESTILOS GENERALES */
a {
    color: inherit;
}

.container > .row {
    margin-bottom: 3rem;
}

.texto__parrafos {
    font-family: $fuente-parrafos;
}

.texto__parrafos--claro
{
    @extend .texto__parrafos;
    color: $paleta-color-claro;
    font-size: 1.25rem;
}

.texto__parrafos--color
{
    @extend .texto__parrafos;
    color: $paleta-color-titulos;
    font-size: 1.25rem;
}

.texto__cursiva {
    font-family: $fuente-cursiva;
}

.texto__cursiva--color
{
    @extend .texto__cursiva;
    color: $paleta-color-titulos;
}

.texto__cursiva--claro
{
    @extend .texto__cursiva;
    color: $paleta-color-claro;
}

.nav-link {
    font-family: $fuente-parrafos;
    color: $paleta-color-fondos;
}

.boton__color {
    background-color: $paleta-color-fondos;
    color: $paleta-color-claro;
    font-family: $fuente-parrafos;
}
// *************************************************************************************
.navbar-brand > img {
    width: 3.438rem;
}

.navbar-main .active {
    text-decoration: underline wavy $paleta-color-fondos;
    text-underline-offset: 0.50rem;
}


.iconos__redes > a {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s filter;
    &:hover{
        filter: opacity(0.5);
    }
}

.color__facebook {
    background-color: #023693;
}

.color__instagram {
    background-color: #f1066b;
}

.color__twitter {
    background-color: #33a9f3;
}

.header-main {
    min-height: 100vh;
}

.icon-servicio {
    --box-size: 4.375rem;
    width: var(--box-size);
    height: var(--box-size);
    padding: 0.625rem;
}

.tienda__items > img {
    transition: 0.4s transform;
}

.tienda__items:hover > img {
     transform: scale(0.96);
}

.fondo__verde {
    background-color: $paleta-color-titulos;
    filter: opacity(0.55);
}

.card img {
    height: 17.5rem;
}

@media screen and (max-width: 376px){
    body {
        margin-top: 4rem;
    }

    .header-main {
        height: initial;
    }

    .photo-frame {
        font-size: 1.25rem;
    }
}